<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expert Courses</title>
	<link rel="stylesheet" href="/css/displayAllCourses.css">
</head>
<a href="/expertDashboard.html" id="back-btn">&larr; Back</a>
<body>

    <header>
        <div id="welcome-note"></div>
        <div id="session-message" style="display:none;"></div>
    </header>

    <section id="courses">
        <div id="courses-list" class="courses-container">
            <!-- JavaScript will dynamically populate this section with course cards -->
        </div>
    </section>

    <script src="/js/displayAllCourses.js"></script>

</body>
</html>
