/* styles.css */

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background: #333;
    color: #fff;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background: #575757;
}

/* Hero section styles */
#hero {
    position: relative;
}

#hero img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow for better visibility */
}

h1, h2 {
    margin: 20px 0;
}

/* About and Features section styles */
section {
    padding: 20px;
    margin: 20px;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
